footer.footer
    .footer__area.inner
        .sitemap
            ul
                li
                    a(href="") 새소식
                    ul
                        li
                            a(href="") 공지사항
                        li
                            a(href="") 업데이트 정보
                        li
                            a(href="") GM Note
                        li
                            a(href="") 통합 거래소
                                img(src="/img/ggIcon.png", alt="통합 거래소")
                li
                    a(href="") 다운로드
                    ul
                        li
                            a(href="") 다운로드
        .policy
            ul
                li
                    a(href="") 서비스 이용약관
                li
                    a(href="") 개인정보처리방침
                li
                    a(href="") 운영정책
        .language
            p.language__selected 한국어
            .language__list
                ul
                    li
                        a(href="") 繁體中文
                    li
                        a(href="") 한국어
                    li
                        a(href="") English           
        .footer__info
            .footer__info-top
                a(href="")
                    img(src="img/img_footer_logo.gif", alt="펄어비스")
                span.copyright
                    | Copyright &copy; PearlAbyss Corp. All rights reserved. | email : global-lab@global-lab.playblackdesert.com

            .footer__info-bottom
                p.warning
                    | 본 게임은 선정성, 폭력성, 공포성, 중독성을 포함하고 있습니다.
                    br
                    | 게임 이용 시 해당 내용을 주의해 주시기 바랍니다.




