extends ../../../layout/contentCommon

block content
    h3 뷰페이지
    .view
        .view__head
            .view__category
                p.type.notice 공지사항
            .view__info
                .view-title
                    h4 10월 31일 (목) 정기 점검 안내
                .view-small-info
                    p.date-time 2019.10.29 12:00 (GMT+8)
                    span / 
                    p.writer 검은사막