include ../partials/header

block head
    link(rel="stylesheet", href="/css/sub.css")

.container
    .sub-visual
    .sub-content
        .left-side
            block left-side
            include ../partials/sideMenu    
        .content
            block content
            



include ../partials/footer