include ../partials/header

block head
    link(rel="stylesheet", href="/css/sub.css")

.sub-visual

.sub-content
    .lnb
        p lnb
    .content
        block content
        p content



include ../partials/footer