include ../partials/header

block head
    link(rel="stylesheet", href="/css/sub.css")

.container
    .sub-visual
    .sub-content
        .member
            block content
            



include ../partials/footer